
.container, #b325 {
    border: 1px solid green;
    display: inline-block;
    width: 200px;
}

p.asteroidbig {
    color: blue;
    background-color: yellow;
    display: inline-block;
   }

div.asteroidb326 {
    display: inline;

   }

.asteroidb329big {
        color: blue;
   }

